<!--------------------------- slider -------------------------->
<div class="row">
    <div class="col-md-12">
        <div class="card text-center" style="margin-bottom: 0px;">
            <div class="card-body"
                 style=" height: 250px;background-image: url('assets/jpeg/wood.jpg'); background-repeat: no-repeat; background-size: cover; display: block;  -webkit-filter: blur(5px);  filter: blur(5px);">

            </div>
            <div style="position: absolute; top: 130px; left: 43%;">
                <p style="font-size: 45px; color: white; font-weight: 700;" class="card-text">
                    JOB DETAILS
                </p>
                <hr style="width: 50%; border-top: 1px solid white !important;">
            </div>

        </div>
    </div>
</div>

<!--------------------------- job details -------------------------->
<!--<div class="row" *ngIf="( EditJob | async) as job">-->
<!--<div class="col-md-2"></div>-->
<!--<div class="col-md-2">-->
<!--<br>-->
<!--<div class="card" style="margin-top: 5%;">-->
<!--<div class="card-body">-->
<!--&lt;!&ndash;<small class="text-muted">{{ user.displayName}}</small>&ndash;&gt;-->
<!--<p style="text-align: center;">{{ (job.uid | user | async)?.displayName}}</p>-->
<!--<hr>-->
<!--<small class="text-muted p-t-30 db" style="padding-top: 10px;"><i class="ti-email"></i> Email</small>-->
<!--<small>{{ (job.uid | user | async)?.email}}</small>-->
<!--<h6></h6>-->
<!--<small class="text-muted p-t-30 db"><i class="fa fa-phone"></i> Phone</small>-->
<!--<small>{{ (job.uid | user | async)?.phone}}</small>-->
<!--<h6></h6>-->
<!--<small class="text-muted p-t-30 db"><i class="fa fa-phone"></i> Company Description</small>-->
<!--<small>{{ (job.uid | user | async)?.introduction}}</small>-->
<!--<h6></h6>-->

<!--</div>-->
<!--</div>-->

<!--</div>-->

<!--<div class="col-md-6">-->
<!--<div class="tab-pane" id="profile" role="tabpanel">-->

<!--<div class="card" style="margin-top: 5%;">-->
<!--<div class="card-body">-->
<!--<h4 class="card-title" style="text-align: center;">{{ job.title }}</h4>-->
<!--<ul class="feeds">-->

<!--<li>-->
<!--<div class="bg-light-success"><i class="fa fa-dollar"></i></div>-->
<!--<b>Salary</b><span>$ {{job.salary}} </span></li>-->
<!--<li>-->
<!--<div class="bg-light-warning"><i class="fa fa fa-address-book-o"></i></div>-->
<!--<b>Contact-->
<!--Email</b><span>{{job.email}}</span></li>-->
<!--<li>-->
<!--<div class="bg-light-danger"><i class="fa fa-folder-o"></i></div>-->
<!--<b>Job Category</b><span>{{job.jobCategory}}</span></li>-->
<!--<li>-->
<!--<div class="bg-light-inverse"><i class="fa fa-question"></i></div>-->
<!--<b>Job Quota</b><span>{{job.quota}}</span></li>-->
<!--<li>-->
<!--<div class="bg-light-info"><i class="fa fa-sort-numeric-asc"></i></div>-->
<!--<b>Minimal-->
<!--Rate</b><span>{{job.minRate}}</span></li>-->

<!--</ul>-->
<!--<div class="form-actions" style="text-align: center; margin-top: 2%;">-->
<!--<button (click)="applyJob(job)" type="submit" class="btn btn-warning" style="width: 25%;"-->
<!--[disabled]="!canApplied">-->
<!--<i class="fa fa-address-card-o"></i> Edit this Job-->
<!--</button>-->
<!--<button (click)="applyJob(job)" type="submit" class="btn btn-danger" style="width: 25%;"-->
<!--[disabled]="!canApplied">-->
<!--<i class="fa fa-address-card-o"></i> Delete this Job-->
<!--</button>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--<div class="col-md-2"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!------------------------------------------------------------------------------------------------------------------------------------------->
<div class="row" *ngIf="( EditJob | async) as job">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card" style="margin-top: 5% !important;">
            <!-- Nav tabs -->

            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home"
                                        role="tab"><i class="mdi mdi-chart-timeline"></i> Preview Job Details</a>
                </li>

                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#editjob" role="tab"><i
                        class="mdi mdi-border-color"></i> Edit Job Details</a>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#manageApplication" role="tab"><i
                        class="mdi mdi-calendar-multiple-check"></i> Manage Application</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="card" style="margin-top: 0%;">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;">{{ job.title }}</h4>
                            <ul class="feeds">

                                <li>
                                    <div class="bg-light-success"><i class="fa fa-dollar"></i></div>
                                    <b>Salary</b><span>$ {{job.salary}} </span></li>
                                <li>
                                    <div class="bg-light-warning"><i class="fa fa fa-address-book-o"></i></div>
                                    <b>Contact
                                        Email</b><span>{{job.email}}</span></li>
                                <li>
                                    <div class="bg-light-danger"><i class="fa fa-folder-o"></i></div>
                                    <b>Job Category</b><span>{{job.jobCategory}}</span></li>
                                <li>
                                    <div class="bg-light-inverse"><i class="fa fa-question"></i></div>
                                    <b>Job Quota</b><span>{{job.quota}}</span></li>
                                <li>
                                    <div class="bg-light-info"><i class="fa fa-sort-numeric-asc"></i></div>
                                    <b>Minimal
                                        Rate</b><span>{{job.minRate}}</span></li>

                            </ul>
                            <!--<div class="form-actions" style="text-align: center; margin-top: 2%;">-->
                            <!--<button (click)="DeleteJob(job)" type="submit" class="btn btn-danger" >-->
                            <!--<i class="fa fa-address-card-o"></i> Delete this Job-->
                            <!--</button>-->
                            <!--</div>-->
                        </div>

                    </div>
                </div>
                <!-------------------------------------------------- second tab ----------------------------------------------->

                <div class="tab-pane" id="editjob" role="tabpanel">
                    <div class="card-body">
                        <form class="form-horizontal form-material" (submit)="updateJobDetails(job)">
                            <!--<form class="form-horizontal form-material" [formGroup]="profileForm" >-->
                            <h4 style="text-align: center;">Job Details</h4>
                            <div class="form-group">
                                <label class="col-md-12"> Job Title</label>
                                <div class="col-md-12">
                                    <input type="text" [(ngModel)]="job.title" name="title"
                                           class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12"> Salary</label>
                                <div class="col-md-12">
                                    <input type="text" [(ngModel)]="job.email" name="email"
                                           class="form-control form-control-line">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <button class="btn btn-success updatebtn " type="submit"
                                        style="margin: 0 auto; display: block;">Update Job Details
                                </button>
                            </div>
                            <!--</div>-->
                        </form>
                    </div>
                </div>

                <!-------------------------------------------------- third tab ----------------------------------------------->

                <div class="tab-pane" id="manageApplication" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title" style="text-align: center;">Manage Job Application</h4>
                                        <div class="table-responsive m-t-40">
                                            <table class="table stylish-table">
                                                <thead>
                                                <tr>
                                                    <th colspan="2">Applicant</th>
                                                    <th>Application Date</th>
                                                    <th>Status</th>
                                                    <th>Update Status</th>
                                                    <th>Rate and Comment</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="updateStatusSide"
                                                    *ngFor="let jobApplication of application | async">
                                                    <td>
                                                        <img style="cursor: pointer" [src]="(jobApplication.uid | user | async)?.photoURL"
                                                             class="img-circle" width="50px" (click)="viewFreelancerProfile(jobApplication)"/>
                                                    </td>
                                                    <td>
                                                        <h6>{{ (jobApplication.uid | user | async)?.displayName}}</h6>
                                                        <small class="text-muted">{{ (jobApplication.uid | user |
                                                            async)?.jobCategory}}
                                                        </small>
                                                    </td>
                                                    <td>{{jobApplication.createdAt | amDateFormat: 'YYYY-MM-DD'}}
                                                    </td>
                                                    <td><span class="label label-warning label-rouded">{{jobApplication.status}}</span>
                                                    </td>
                                                    <td>
                                                        <select (change)="updateJobApplicationStatus(jobApplication)"
                                                                class="form-control custom-select"
                                                                data-placeholder="Choose a Category"
                                                                tabindex="1" name="status"
                                                                [(ngModel)]="jobApplication.status">
                                                            <!--<option>Select Category</option>-->
                                                            <optgroup label="Current Status">
                                                                <option value="currentStatus" selected>
                                                                    {{jobApplication.status}}
                                                                </option>
                                                            </optgroup>
                                                            <optgroup label="Job Applicaition">
                                                                <option value="Waiting Reply">Waiting Reply</option>
                                                                <option value="Accepted">Accepted</option>
                                                                <option value="Rejected">Rejected</option>
                                                            </optgroup>
                                                            <optgroup label="Job Status">
                                                                <option value="Job Processing">Job Processing</option>
                                                                <option value="Job Finished">Job Finished</option>
                                                            </optgroup>
                                                        </select>
                                                    </td>
                                                    <td>

                                                        <button (click)="commentToFreelancer(jobApplication)" class="btn btn-success  " type="submit"
                                                                style="margin: 0 auto; display: block;" [disabled]="jobApplication.status!='Job Finished'">Rate and Comment
                                                        </button>
                                                    </td>
                                                    <!--<div class="btn btn-danger updatebtn" (click)="updateJobApplicationStatus (jobApplication)">Update Job Application Status</div>-->
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!--<div class="btn btn-danger updatebtn" (click)="updateJobApplicationStatus (jobApplication.id)">Update Job Application Status</div>-->

                                            <!--<div class="col-sm-12" (click)="updateJobApplicationStatus(application)">-->
                                            <!--<button class="btn btn-danger updatebtn" type="click"-->
                                            <!--style="margin: 0 auto; display: block;">Update Job Application Status-->
                                            <!--</button>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>

</div>

