<div class="row" *ngIf="user">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <img src="../assets/images/background/socialbg.jpg" class="card-img">
            <div class="card-img-overlay card-inverse social-profile d-flex">
                <div class="align-self-center" style="margin: 0 auto">
                    <img [src]="user.photoURL" class="img-circle" width="150" (click)="hello()"/>

                    <h4 class="card-title m-t-10">{{ user.displayName}}</h4>
                    <h6 class="card-subtitle">{{ user.jobCategory}}</h6>
                </div>
            </div>
            <!--<div class="row text-center justify-content-md-center">-->
            <!--<div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font-->
            <!--class="font-medium">254</font></a></div>-->
            <!--<div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font-->
            <!--class="font-medium">54</font></a></div>-->
            <!--</div>-->
        </div>
        <div class="card">
            <div class="card-body">
                <!--<small class="text-muted">{{ user.displayName}}</small>-->
                <p style="text-align: center">Profile Card</p>
                <hr>
                <small class="text-muted p-t-30 db" style="padding-top: 10px;"><i class="ti-email"></i> Email</small>

                <h6>{{ user.email }}</h6>
                <!--<small class="text-muted p-t-30 db"><i class="fa fa-phone"></i> Phone</small>-->
                <!--<h6>{{ user.phone}}</h6>-->
                <small class="text-muted p-t-30 db"><i class="fa fa-user-o"></i> Introduction</small>
                <h6>{{ user.introduction}}</h6>


                <!--<small class="text-muted p-t-30 db"><i class="fa  fa-facebook"></i> Social Profile</small>-->
                <!--<br/>-->
                <!--<button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>-->
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card" style="margin-top: 0% !important;">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home"
                                        role="tab"><i class="mdi mdi-chart-timeline"></i> Timeline</a>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile" role="tab"><i
                        class="mdi mdi-account-box"></i> Profile</a>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#settings" role="tab"><i
                        class="mdi mdi-account-edit"></i> Edit Profile</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="card-body">
                        <!---------------------------------------------Freelancer----------------------------------------------------------->
                        <div class="profiletimeline" *ngFor="let jobApplication of application | async">
                            <div class="sl-item" *ngIf="user.userType == 'freelancer' ">
                                <div class="sl-left">
                                    <img [src]="user.photoURL" alt="user"
                                         class="img-circle"/>
                                </div>
                                <div class="sl-right">
                                    <div><a href="#" class="link">{{user.displayName}}</a> <span
                                            class="sl-date">{{jobApplication.createdAt | amDateFormat: 'YYYY-MM-DD HH:mm'}}</span>
                                        <div class="m-t-20 row">
                                            <div class="col-md-3 col-xs-12">
                                                <img src="../assets/images/job.png" alt="user"
                                                     class="img-responsive radius"/>
                                            </div>
                                            <div class="col-md-9 col-xs-12">

                                                <p>Job Application of <span style="color: palevioletred;"> {{ (jobApplication.jobid | job | async)?.title
                                                    }} </span></p>
                                                <div class="like-comm m-t-20">
                                                    <a class="btn btn-warning" style="color: white;"
                                                       (click)="goToDetail(jobApplication)"><i
                                                            class="mdi mdi-calendar-text"></i> Job
                                                        Details</a>
                                                    <button style="cursor: no-drop;" type="button"
                                                            class="statusButton {{jobApplication.ngClass}}"><i
                                                    ></i> {{jobApplication.status}}
                                                    </button>
                                                    <!--<button (click)="viewCommentFromCompany(jobApplication)" class="btn btn-info" type="submit"-->
                                                    <!--[disabled]="jobApplication.status!='Job Finished'">View comment from company-->
                                                    <!--</button>-->
                                                    <button (click)="commentToCompany(jobApplication)"
                                                            class="btn btn-success" type="submit"
                                                            [disabled]="jobApplication.status!='Job Finished'">Rate and
                                                        Comment
                                                    </button>
                                                </div>
                                                <br>
                                                <p>Comment From <span (click)="viewCompanyProfile(jobApplication)"
                                                                      style="color: #b3d7ff;cursor: pointer;">{{ ((jobApplication.jobid | job | async)?.uid | user | async)?.displayName}}</span>
                                                    :
                                                    {{ (jobApplication.commentFreelancer)}} </p>
                                                <p>Rate From <span (click)="viewCompanyProfile(jobApplication)"
                                                                   style="color: #b3d7ff; cursor: pointer;">{{ ((jobApplication.jobid | job | async)?.uid | user | async)?.displayName}}</span>
                                                    :
                                                    <span style="color: #ffb700;">{{ (jobApplication.rateFreelancer)}} </span>
                                                </p>
                                                <!--<a class="btn btn-warning" style="color: white;"-->
                                                <!--(click)="goToDetail(jobApplication)"><i-->
                                                <!--class="mdi mdi-calendar-text"></i> Job-->
                                                <!--Details</a>-->
                                                <!--<button type="button" class="statusButton btn {{jobApplication.ngClass}}"><i-->
                                                <!--class=""></i> {{jobApplication.status}}-->
                                                <!--</button>-->
                                            </div>
                                        </div>
                                        <!--<div class="like-comm m-t-20">-->
                                        <!--<a class="btn btn-warning" style="color: white;"-->
                                        <!--(click)="goToDetail(jobApplication)"><i-->
                                        <!--class="mdi mdi-calendar-text"></i> Job-->
                                        <!--Details</a>-->
                                        <!--<button type="button" class="statusButton btn {{jobApplication.ngClass}}"><i-->
                                        <!--class=""></i> {{jobApplication.status}}-->
                                        <!--</button>-->
                                        <!--<button (click)="commentToFreelancer(jobApplication)" class="btn btn-danger  " type="submit"-->
                                        <!--[disabled]="jobApplication.status!='Job Finished'">Comment from company-->
                                        <!--</button>-->
                                        <!--<button (click)="commentToFreelancer(jobApplication)" class="btn btn-success  " type="submit"-->
                                        <!--[disabled]="jobApplication.status!='Job Finished'">Rate and Comment-->
                                        <!--</button>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <!---------------------------------------------Company----------------------------------------------------------->
                        <div class="profiletimeline" *ngFor="let jobApplication of applicationCompany | async">
                            <div class="sl-item" *ngIf="user.userType == 'company' ">
                                <div class="sl-left">
                                    <img [src]="user.photoURL" alt="user"
                                         class="img-circle"/>
                                </div>
                                <div class="sl-right">
                                    <div><a href="#" class="link">{{user.displayName}}</a> <span
                                            class="sl-date">{{jobApplication.createdAt | amDateFormat: 'YYYY-MM-DD HH:mm'}}</span>
                                        <div class="m-t-20 row">
                                            <div class="col-md-3 col-xs-12">
                                                <img src="../assets/images/job.png" alt="user"
                                                     class="img-responsive radius"/>
                                            </div>
                                            <div class="col-md-9 col-xs-12">


                                                <p><span (click)="viewFreelancerProfile(jobApplication)"
                                                         style="color: #b3d7ff; cursor: pointer;">{{ ((jobApplication.uid | user | async)?.uid | user | async)?.displayName}} </span>
                                                    applied <span style="color: palevioletred"> {{ (jobApplication.jobid | job | async)?.title
                                                    }} </span></p>
                                                <div class="like-comm m-t-20">
                                                    <a class="btn btn-warning" style="color: white;"
                                                       (click)="goManageJob(jobApplication)"><i
                                                            class="mdi mdi-calendar-text"></i> Manage Job</a>
                                                    <button style="cursor: no-drop;" type="button"
                                                            class="statusButton {{jobApplication.ngClass}}"><i
                                                    ></i> {{jobApplication.status}}
                                                    </button>
                                                    <!--<button (click)="viewCommentFromCompany(jobApplication)" class="btn btn-info" type="submit"-->
                                                    <!--[disabled]="jobApplication.status!='Job Finished'">View comment from company-->
                                                    <!--</button>-->
                                                    <button (click)="commentToFreelancer(jobApplication)"
                                                            class="btn btn-success" type="submit"
                                                            [disabled]="jobApplication.status!='Job Finished'">Rate and
                                                        Comment
                                                    </button>
                                                </div>
                                                <br>
                                                <p>Comment From <span (click)="viewFreelancerProfile(jobApplication)"
                                                                      style="color: #b3d7ff; cursor: pointer;">{{ ((jobApplication.uid | user | async)?.uid | user | async)?.displayName}} </span>
                                                    :{{ (jobApplication.commentCompany)}} </p>
                                                <p>Rate From <span (click)="viewFreelancerProfile(jobApplication)"
                                                                   style="color: #b3d7ff; cursor: pointer;">{{ ((jobApplication.uid | user | async)?.uid | user | async)?.displayName}} </span>
                                                    :
                                                    <span style="color: #ffb700">{{ (jobApplication.rateCompany)}} </span>
                                                </p>
                                                <!--<a class="btn btn-warning" style="color: white;"-->
                                                <!--(click)="goToDetail(jobApplication)"><i-->
                                                <!--class="mdi mdi-calendar-text"></i> Job-->
                                                <!--Details</a>-->
                                                <!--<button type="button" class="statusButton btn {{jobApplication.ngClass}}"><i-->
                                                <!--class=""></i> {{jobApplication.status}}-->
                                                <!--</button>-->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
                <!----------------------------------------------------second tab: freelancer-------------------------------------------------------------->
                <div class="tab-pane" id="profile" role="tabpanel" *ngIf="user.userType == 'freelancer' ">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-xs-6 b-r"><strong>Full Name</strong>
                                <br>
                                <p class="text-muted">{{ user.displayName}}</p>
                            </div>
                            <div class="col-md-4 col-xs-6 b-r"><strong>Job Category</strong>
                                <br>
                                <p class="text-muted">{{ user.preference_jobCategory}}</p>
                            </div>
                            <div class="col-md-4 col-xs-6 b-r"><strong>Email</strong>
                                <br>
                                <p class="text-muted">{{ user.email}}</p>
                            </div>
                            <!--<div class="col-md-3 col-xs-6"><strong>Location</strong>-->
                            <!--<br>-->
                            <!--<p class="text-muted">London</p>-->
                            <!--</div>-->
                        </div>
                        <hr>
                        <div><strong>Introduction</strong>
                            <br>
                            <p class="text-muted">{{ user.introduction}}</p>
                        </div>
                        <hr>
                        <div><strong>Education Level</strong>
                            <br>
                            <p class="text-muted">{{ user.preference_eduLv}}</p>
                        </div>
                        <hr>
                        <div><strong>Working Experience</strong>
                            <br>
                            <p class="text-muted">{{ user.workExp}}</p>
                        </div>
                        <hr>
                        <div><strong>Skill</strong>
                            <br>
                            <p class="text-muted">{{ user.skills}}</p>
                        </div>


                    </div>
                </div>
                <!----------------------------------------------------second tab: company-------------------------------------------------------------->

                <div class="tab-pane" id="profile" role="tabpanel" *ngIf="user.userType == 'company' ">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-xs-6 b-r"><strong>Full Name</strong>
                                <br>
                                <p class="text-muted">{{ user.displayName}}</p>
                            </div>
                            <!--<div class="col-md-4 col-xs-6 b-r"><strong>Phone</strong>-->
                                <!--<br>-->
                                <!--<p class="text-muted">{{ user.phone}}</p>-->
                            <!--</div>-->
                            <div class="col-md-4 col-xs-6 b-r"><strong>Email</strong>
                                <br>
                                <p class="text-muted">{{ user.email}}</p>
                            </div>
                            <!--<div class="col-md-3 col-xs-6"><strong>Location</strong>-->
                            <!--<br>-->
                            <!--<p class="text-muted">London</p>-->
                            <!--</div>-->
                        </div>
                        <hr>
                        <div><strong>About {{ user.displayName}}</strong>
                            <br>
                            <p class="text-muted">{{ user.introduction}}</p>
                        </div>
                        <hr>
                        <div><strong>Vacancies</strong>
                            <br>
                            <p class="text-muted">{{ user.skills}}</p>
                        </div>
                        <hr>


                    </div>
                </div>
                <!----------------------------------------------------third tab: freelancer-------------------------------------------------------------->

                <div class="tab-pane" id="settings" role="tabpanel" *ngIf="user.userType == 'freelancer' ">
                    <div class="card-body" >
                        <form [formGroup]="preferenceForm" (submit)="setPreference()">
                            <div class="form-body">
                                <h3 class="card-title" style="text-align: center;">Personal Information</h3>
                                <hr>
                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">User Name</label><span class="text-danger">*</span>
                                            <input name="title" type="text" class="form-control" formControlName="displayName"
                                                   [class.invalid]="!preferenceForm.controls.displayName.valid"
                                                  [(ngModel)]="user.displayName">
                                            <!--<small class="form-control-feedback"> This is inline help </small> -->
                                            <small style="color:red;"
                                                   *ngIf="!preferenceForm.controls.displayName.valid && preferenceForm.controls.displayName.dirty">This is
                                                required
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Email</label><span class="text-danger">*</span>
                                            <input name="email" type="text" class="form-control" formControlName="email"
                                                   [class.invalid]="!preferenceForm.controls.email.valid"
                                                   [(ngModel)]="user.email" disabled>
                                            <!--<small class="form-control-feedback"> This is inline help </small> -->
                                            <small style="color:red;"
                                                   *ngIf="!preferenceForm.controls.email.valid && preferenceForm.controls.email.dirty">This is
                                                required
                                            </small>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <!--/span-->
                                </div>
                                <!--<span></span>-->
                                <div class="row p-t-20">
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group has-danger">
                                            <label class="control-label">Job Category</label><span
                                                class="text-danger">*</span>
                                            <select class="form-control custom-select"
                                                    data-placeholder="Choose a Category"
                                                    tabindex="1" formControlName="preference_jobCategory"
                                                    name="jobCategory" [(ngModel)]="user.preference_jobCategory">
                                                <!--<option>Select Category</option>-->
                                                <optgroup label="Finance">
                                                    <option value="Accounting">Accounting</option>
                                                    <option value="Banking">Banking</option>
                                                </optgroup>
                                                <optgroup label="Computing">
                                                    <option value="Mobile Application Development">Mobile Application
                                                        Development
                                                    </option>
                                                    <option value="Website Development">Website Development</option>
                                                </optgroup>
                                                <optgroup label="Design">
                                                    <option value="Fashion Design">Fashion Design</option>
                                                    <option value="Graphics Design">Graphics Design</option>
                                                </optgroup>
                                                <optgroup label="Other">
                                                    <option value="Education">Education</option>
                                                    <option value="Other">Other</option>
                                                </optgroup>
                                            </select>
                                            <small *ngIf="!preferenceForm.controls.preference_jobCategory.valid && preferenceForm.controls.preference_jobCategory.dirty">
                                                Error
                                            </small>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group has-danger">
                                            <label class="control-label">Education level</label><span
                                                class="text-danger">*</span>
                                            <select class="form-control custom-select"
                                                    data-placeholder="Choose a Category"
                                                    tabindex="1" formControlName="preference_eduLv" name="eduLv"
                                                    [(ngModel)]="user.preference_eduLv">
                                                <!--<option>Select Category</option>-->
                                                <optgroup label="Education level">
                                                    <option value="Postgraduate">Postgraduate</option>
                                                    <option value="Degree">Degree</option>
                                                    <option value="Non-Degree Tertiary">Non-Degree Tertiary</option>
                                                    <option value="Matriculated">Matriculated</option>
                                                    <option value="School Certificate">School Certificate</option>
                                                    <option value="Form three">Form three</option>
                                                    <option value="Primary">Primary</option>
                                                </optgroup>

                                            </select>
                                            <small *ngIf="!preferenceForm.controls.preference_eduLv.valid && preferenceForm.controls.preference_eduLv.dirty">
                                                Error
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label">Working Experience</label><span
                                            class="text-danger">*</span>
                                        <select class="form-control custom-select"
                                                data-placeholder="Choose a Category"
                                                tabindex="1" formControlName="preference_expectedExp"
                                                name="expectedExp" [(ngModel)]="user.preference_expectedExp">
                                            <!--<option>Select Category</option>-->
                                            <optgroup label="Expected Working Experience">
                                                <option value="< 1 year">< 1 year</option>
                                                <option value="1 - 2 year(s)ree">1 - 2 year(s)</option>
                                                <option value="3 - 4 years">3 - 4 years</option>
                                                <option value="> 4 years">> 4 years</option>
                                            </optgroup>

                                        </select>
                                        <small *ngIf="!preferenceForm.controls.preference_expectedExp.valid && preferenceForm.controls.preference_expectedExp.dirty">
                                            Error
                                        </small>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/span-->



                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Introduction</label><span class="text-danger">*</span>
                                            <textarea class="form-control" rows="5" name="introduction" formControlName="introduction" placeholder="Introduce youself here"
                                                      [class.invalid]="!preferenceForm.controls.introduction.valid" [(ngModel)]="user.introduction"></textarea>
                                            <small style="color:red;"
                                                   *ngIf="!preferenceForm.controls.introduction.valid && preferenceForm.controls.introduction.dirty">
                                                This is required
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <!--<span></span>-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Working Experience</label><span class="text-danger">*</span>
                                            <textarea class="form-control" rows="5" name="introduction" formControlName="workExp" placeholder="Describe you working experience in details"
                                                      [class.invalid]="!preferenceForm.controls.workExp.valid" [(ngModel)]="user.workExp"></textarea>
                                            <small style="color:red;"
                                                   *ngIf="!preferenceForm.controls.workExp.valid && preferenceForm.controls.workExp.dirty">
                                                This is required
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <!--<span></span>-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Skills</label><span class="text-danger">*</span>
                                            <textarea class="form-control" rows="5" name="skills" formControlName="skills" placeholder="Describe your skill(s) to other"
                                                      [class.invalid]="!preferenceForm.controls.skills.valid" [(ngModel)]="user.skills"></textarea>
                                            <small style="color:red;"
                                                   *ngIf="!preferenceForm.controls.skills.valid && preferenceForm.controls.skills.dirty">
                                                This is required
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <!--<input type="file" (change)="uploadFile($event)" />-->
                                <!--&lt;!&ndash;<div>{{ uploadPercent | async }}</div>&ndash;&gt;-->
                                <!--<a [href]="downloadURL | async">{{ downloadURL | async }}</a>-->
                            </div>
                            <div class="form-actions" style="text-align: center;margin-top: 2%;">
                                <button type="submit" class="btn btn-secondary" style="margin: 0 auto"
                                        [disabled]="!preferenceForm.valid">
                                    <i class="fa fa-check"></i> Submit
                                </button>
                                <!--<button (click)="redirect()" type="button" class="btn btn-outline-secondary cancel"-->
                                <!--style="width: 20%;">Cancel-->
                                <!--</button>-->
                            </div>
                        </form>
                    </div>
                </div>
<!--------------------------------------third tab: Company-------------------------------------------------------->
                <div class="tab-pane" id="settings" role="tabpanel" *ngIf="user.userType == 'company' ">
                    <div class="card-body" >
                        <form [formGroup]="companyForm" (submit)="setCompany()">
                            <div class="form-body">
                                <h3 class="card-title" style="text-align: center;">Personal Information</h3>
                                <hr>
                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">User Name</label><span class="text-danger">*</span>
                                            <input name="title" type="text" class="form-control" formControlName="displayName"
                                                   [class.invalid]="!companyForm.controls.displayName.valid"
                                                   [(ngModel)]="user.displayName">
                                            <!--<small class="form-control-feedback"> This is inline help </small> -->
                                            <small style="color:red;"
                                                   *ngIf="!companyForm.controls.displayName.valid && companyForm.controls.displayName.dirty">This is
                                                required
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Email</label><span class="text-danger">*</span>
                                            <input name="email" type="text" class="form-control" formControlName="email"
                                                   [class.invalid]="!companyForm.controls.email.valid"
                                                   [(ngModel)]="user.email" disabled>
                                            <!--<small class="form-control-feedback"> This is inline help </small> -->
                                            <small style="color:red;"
                                                   *ngIf="!companyForm.controls.email.valid && companyForm.controls.email.dirty">This is
                                                required
                                            </small>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <!--/span-->
                                </div>

                                <!--/span-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Introduction</label><span class="text-danger">*</span>
                                            <textarea class="form-control" rows="5" name="introduction" formControlName="introduction" placeholder="Introduce your company here"
                                                      [class.invalid]="!preferenceForm.controls.introduction.valid" [(ngModel)]="user.introduction"></textarea>
                                            <small style="color:red;"
                                                   *ngIf="!companyForm.controls.introduction.valid && companyForm.controls.introduction.dirty">
                                                This is required
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <!--<span></span>-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Vacancies</label><span class="text-danger">*</span>
                                            <textarea class="form-control" rows="5" name="skills" formControlName="skills" placeholder="List out any job that you would like to share to freelancer"
                                                      [class.invalid]="!companyForm.controls.skills.valid" [(ngModel)]="user.skills"></textarea>
                                            <small style="color:red;"
                                                   *ngIf="!companyForm.controls.skills.valid && companyForm.controls.skills.dirty">
                                                This is required
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <!--<input type="file" (change)="uploadFile($event)" />-->
                                <!--<div>{{ uploadPercent | async }}</div>-->
                                <!--<a [href]="downloadURL | async">{{ downloadURL | async }}</a>-->
                            </div>
                            <div class="form-actions" style="text-align: center;margin-top: 2%;">
                                <button type="submit" class="btn btn-secondary" style="margin: 0 auto"
                                        [disabled]="!companyForm.valid">
                                    <i class="fa fa-check"></i> Submit
                                </button>
                                <!--<button (click)="redirect()" type="button" class="btn btn-outline-secondary cancel"-->
                                <!--style="width: 20%;">Cancel-->
                                <!--</button>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
