<!--------------------------- slider -------------------------->
<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-body"
                 style=" height: 250px;background-image: url('assets/jpeg/wood.jpg'); background-repeat: no-repeat; background-size: cover; display: block;  -webkit-filter: blur(5px);  filter: blur(5px);">

            </div>
            <div style="position: absolute; top: 130px; left: 43%;">
                <p style="font-size: 45px; color: white; font-weight: 700;" class="card-text">
                    POST A JOB
                </p>
                <hr style="width: 50%; border-top: 1px solid white !important;">

                <!--<a href="/register" class="btn btn-primary started-button">GET STARTED</a>-->
            </div>

        </div>
    </div>
</div>

<!--------------------------- post job form -------------------------->


<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">

        <p style="font-size: 40px; padding-top: 30px;font-weight: 500; text-align: center;" class="card-text">
            Post a job in minute
        </p>
        <hr style="width: 5%;">
        <div class="card card-outline-info">
            <div class="card-body">
                <form  [formGroup]="jobForm" (submit)="postJob()">
                    <div class="form-body">
                        <h3 class="card-title" style="text-align: center;">Job details</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Job Title</label><span class="text-danger">*</span>
                                    <input name="title" type="text" class="form-control" formControlName="title"
                                           [class.invalid]="!jobForm.controls.title.valid"
                                           placeholder="Mobile Game developer">
                                    <!--<small class="form-control-feedback"> This is inline help </small> -->
                                    <small style="color:red;"
                                           *ngIf="!jobForm.controls.title.valid && jobForm.controls.title.dirty">This is
                                        required
                                    </small>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label">Job Category</label><span class="text-danger">*</span>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category"
                                            tabindex="1" formControlName="jobCategory" name="jobCategory">
                                        <!--<option>Select Category</option>-->
                                        <optgroup label="Finance">
                                            <option value="Accounting">Accounting</option>
                                        </optgroup>
                                        <optgroup label="Computing">
                                            <option value="Programming">Programming</option>
                                        </optgroup>
                                        <optgroup label="Desgin">
                                            <option value="Banner Design">Banner Design</option>
                                        </optgroup>
                                        <optgroup label="Other">
                                            <option value="Other">Other</option>
                                        </optgroup>
                                    </select>
                                    <small *ngIf="!jobForm.controls.jobCategory.valid && jobForm.controls.jobCategory.dirty">
                                        Error
                                    </small>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Job Quota</label><span class="text-danger">*</span>
                                    <input name="quota" type="text" class="form-control" formControlName="quota"
                                           [class.invalid]="!jobForm.controls.quota.valid">
                                    <!--<small class="form-control-feedback"> This is inline help </small> -->
                                    <small style="color:red;"
                                           *ngIf="!jobForm.controls.quota.valid && jobForm.controls.quota.dirty">This is
                                        required
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label ">Due Date</label>
                                    <input type="date" class="form-control" formControlName="dueDate"
                                           placeholder="dd/mm/yyyy" [class.invalid]="!jobForm.controls.dueDate.valid">
                                    <small style="color:red;"
                                           *ngIf="!jobForm.controls.dueDate.valid && jobForm.controls.dueDate.dirty">
                                        This is required
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Job Description </label><span class="text-danger">*</span>
                                    <textarea class="form-control" rows="5" name="desc" formControlName="jobDesc"
                                              [class.invalid]="!jobForm.controls.jobDesc.valid"></textarea>
                                    <small style="color:red;"
                                           *ngIf="!jobForm.controls.jobDesc.valid && jobForm.controls.jobDesc.dirty">
                                        This is required
                                    </small>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Application Email</label> <span
                                        class="text-danger">*</span>
                                    <div class="controls">
                                        <input type="email" name="email" class="form-control" formControlName="email"
                                               [class.invalid]="!jobForm.controls.email.valid" (keypress)="hello()">
                                    </div>
                                    <small style="color: red;"
                                           *ngIf="!jobForm.controls.email.valid && jobForm.controls.email.dirty">
                                        Not a valid email address
                                    </small>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Minimum Rate</label>
                                    <input type="text" class="form-control" formControlName="minRate"
                                           [class.invalid]="!jobForm.controls.minRate.valid">
                                    <small style="color:red;"
                                           *ngIf="!jobForm.controls.minRate.valid && jobForm.controls.minRate.dirty">
                                        Input N/A if do not have any requirement
                                    </small>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Minimum Salary</label><span class="text-danger">*</span>
                                    <input type="text" class="form-control" formControlName="salary"
                                           [class.invalid]="!jobForm.controls.salary.valid">
                                    <small style="color:red;"
                                           *ngIf="!jobForm.controls.salary.valid && jobForm.controls.salary.dirty">This
                                        is required
                                    </small>
                                </div>
                            </div>
                            <!--/span-->
                            <!--<div class="col-md-6">-->
                                <!--<div class="form-group">-->
                                    <!--<label>Maximum Salary</label><span class="text-danger">*</span>-->
                                    <!--<input type="text" class="form-control" formControlName="maxSal"-->
                                           <!--[class.invalid]="!jobForm.controls.maxSal.valid">-->
                                    <!--<small style="color:red;"-->
                                           <!--*ngIf="!jobForm.controls.maxSal.valid && jobForm.controls.maxSal.dirty">This-->
                                        <!--is required-->
                                    <!--</small>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--/span-->
                        </div>

                        <!--<h3 class="box-title m-t-40" style="text-align: center;">Company Details</h3>-->
                        <!--<hr>-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-6">-->
                                <!--<div class="form-group">-->
                                    <!--<label>Company Name</label><span class="text-danger">*</span>-->
                                    <!--<input type="text" class="form-control" formControlName="comName"-->
                                           <!--[class.invalid]="!jobForm.controls.comName.valid">-->
                                    <!--<small style="color:red;"-->
                                           <!--*ngIf="!jobForm.controls.comName.valid && jobForm.controls.comName.dirty">-->
                                        <!--This is required-->
                                    <!--</small>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;/span&ndash;&gt;-->
                            <!--<div class="col-md-6">-->
                                <!--<div class="form-group">-->
                                    <!--<label>Website</label>-->
                                    <!--<input type="text" class="form-control" formControlName="website" name="website"-->
                                           <!--[class.invalid]="!jobForm.controls.website.valid">-->
                                    <!--<small style="color:red;"-->
                                           <!--*ngIf="!jobForm.controls.website.valid && jobForm.controls.website.dirty">-->
                                        <!--Input N/A if do not have a website-->
                                    <!--</small>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;/span&ndash;&gt;-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                                <!--<div class="form-group">-->
                                    <!--<label>Company Description </label><span class="text-danger">*</span>-->
                                    <!--<textarea class="form-control" rows="5" formControlName="comDesc"-->
                                              <!--[class.invalid]="!jobForm.controls.comDesc.valid"></textarea>-->
                                    <!--<small style="color:red;"-->
                                           <!--*ngIf="!jobForm.controls.comDesc.valid && jobForm.controls.comDesc.dirty">-->
                                        <!--This is required-->
                                    <!--</small>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--/row-->

                    </div>
                    <div class="form-actions" style="text-align: center;margin-top: 2%;">
                        <button type="submit" class="btn btn-secondary" style="width: 20%;" [disabled]="!jobForm.valid">
                            <i class="fa fa-check"></i> Submit
                        </button>
                        <button type="button" class="btn btn-outline-secondary cancel" style="width: 20%;">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


