<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card m-b-0">
            <!-- .chat-row -->
            <div class="chat-main-box">
                <!-- .chat-left-panel -->
                <div class="chat-left-aside">
                    <div class="open-panel"><i class="ti-angle-right"></i></div>
                    <div class="chat-left-inner">
                        <div class="form-material">
                            <input class="form-control p-20" type="text" placeholder="Search Contact">
                        </div>
                        <ul class="chatonline style-none ">
                            <li *ngFor="let chat of chats | async">
                                <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img"
                                                                  class="img-circle"> <span>{{chat.user1Name}} <small
                                        class="text-success">online</small></span></a>
                            </li>
                            <li class="p-20"></li>
                        </ul>
                    </div>
                </div>
                <!-- .chat-left-panel -->
                <!-- .chat-right-panel -->
                <div class="chat-right-aside">
                    <div class="chat-main-header">
                        <div class="p-20 b-b">
                            <h3 class="box-title">Chat Message</h3>
                        </div>
                    </div>
                    <div class="chat-rbox">
                        <ul class="chat-list p-20" *ngFor="let chat of chats | async">
                            <div *ngFor="let message of chat.messages">
                                <li *ngIf="message.user != currentUser.uid">
                                    <div class="chat-img"><img src="../assets/images/users/1.jpg" alt="user"/></div>
                                    <div class="chat-content">
                                        <h5>Jenny</h5>
                                        <div class="box bg-light-info">{{message.value}}</div>
                                    </div>
                                    <div class="chat-time">10:56 am</div>
                                </li>
                                <li class="reverse" *ngIf="message.user == currentUser.uid">
                                    <div class="chat-time">10:57 am</div>
                                    <div class="chat-content">
                                        <h5>Steave Doe</h5>
                                        <div class="box bg-light-inverse">{{message.value}}</div>
                                    </div>
                                    <div class="chat-img"><img src="../assets/images/users/5.jpg" alt="user"/></div>
                                </li>
                            </div>
                            <!--chat Row -->
                            <!--<li>-->
                            <!--<div class="chat-img"><img src="../assets/images/users/1.jpg" alt="user" /></div>-->
                            <!--<div class="chat-content">-->
                            <!--<h5>James Anderson</h5>-->
                            <!--<div class="box bg-light-info">Lorem Ipsum is simply dummy text of the printing & type setting industry.</div>-->
                            <!--</div>-->
                            <!--<div class="chat-time">10:56 am</div>-->
                            <!--</li>-->
                            <!--&lt;!&ndash;chat Row &ndash;&gt;-->
                            <!--<li>-->
                            <!--<div class="chat-img"><img src="../assets/images/users/2.jpg" alt="user" /></div>-->
                            <!--<div class="chat-content">-->
                            <!--<h5>Bianca Doe</h5>-->
                            <!--<div class="box bg-light-success">It’s Great opportunity to work.</div>-->
                            <!--</div>-->
                            <!--<div class="chat-time">10:57 am</div>-->
                            <!--</li>-->
                            <!--&lt;!&ndash;chat Row &ndash;&gt;-->
                            <!--<li class="reverse">-->
                            <!--<div class="chat-time">10:57 am</div>-->
                            <!--<div class="chat-content">-->
                            <!--<h5>Steave Doe</h5>-->
                            <!--<div class="box bg-light-inverse">It’s Great opportunity to work.</div>-->
                            <!--</div>-->
                            <!--<div class="chat-img"><img src="../assets/images/users/5.jpg" alt="user" /></div>-->
                            <!--</li>-->
                            <!--&lt;!&ndash;chat Row &ndash;&gt;-->

                            <!--&lt;!&ndash;chat Row &ndash;&gt;-->
                            <!--<li>-->
                            <!--<div class="chat-img"><img src="../assets/images/users/3.jpg" alt="user" /></div>-->
                            <!--<div class="chat-content">-->
                            <!--<h5>Angelina Rhodes</h5>-->
                            <!--<div class="box bg-light-primary">Well we have good budget for the project</div>-->
                            <!--</div>-->
                            <!--<div class="chat-time">11:00 am</div>-->
                            <!--</li>-->
                            <!--chat Row -->
                        </ul>
                    </div>
                    <div class="card-body b-t">
                        <div class="row">
                            <div class="col-8">
                                <input placeholder="Type your message here" class="form-control b-0"
                                       [(ngModel)]="message"/>
                            </div>
                            <div class="col-4 text-right">
                                <button type="button" class="btn btn-info btn-circle btn-lg" (click)="sendMessage()"><i
                                        class="fa fa-paper-plane-o"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .chat-right-panel -->
            </div>
            <!-- /.chat-row -->
        </div>
    </div>
</div>