<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row" *ngIf="currentUser">
    <div class="col-12">
        <div class="card m-b-0">
            <!-- .chat-row -->
            <div class="chat-main-box">
                <!-- .chat-left-panel -->
                <div class="chat-left-aside">
                    <div class="open-panel"><i class="ti-angle-right"></i></div>
                    <div class="chat-left-inner">
                        <div class="form-material">
                            <input class="form-control p-20" type="text" placeholder="Search Contact">
                        </div>
                        <ul class="chatonline style-none">
                            <li *ngFor="let chat of chats | async">
                                <div *ngIf="chat.user1 === currentUser.uid" (click)="selectedChat(chat, $event)"
                                     class="chat-row" id="{{chat.id}}">
                                    <img [src]="(chat.user2 | user | async)?.photoURL"
                                         alt="user-img"
                                         class="img-circle"> <span>{{ (chat.user2 | user | async)?.displayName }}
                                        <p>{{chat.lastMessage }}</p>
                                        <small class="text-success" style="float: right;">{{chat.updatedDt | amTimeAgo }}</small>
                                    </span>
                                </div>
                                <div *ngIf="chat.user2 === currentUser.uid" (click)="selectedChat(chat, $event)"
                                     class="chat-row" id="{{chat.id}}">

                                    <img [src]="(chat.user1 | user | async)?.photoURL" alt="user-img"
                                         class="img-circle"/>
                                    <span>{{ (chat.user1 | user | async)?.displayName }}
                                            <p>{{chat.lastMessage }}</p>
                                            <small class="text-success" style="float: right;">{{ chat.updatedDt | amTimeAgo }}</small>
                                        </span>
                                </div>
                            </li>
                            <li class="p-20"></li>
                        </ul>
                    </div>
                </div>
                <!-- .chat-left-panel -->
                <!-- .chat-right-panel -->
                <div class="chat-right-aside" *ngIf="currentChat">
                    <div class="chat-main-header">
                        <div class="p-20 b-b" style="height: 60px;">
                            <div *ngIf="currentChat.user1 == currentUser.uid">
                                <img style="    margin-right: 10px; float: left; width: 30px; border-radius: 100%;" [src]="(currentChat.user2 | user | async)?.photoURL"/>
                                <h3>{{ (currentChat.user2 | user | async)?.displayName }}</h3>
                            </div>
                            <div class="box-title" *ngIf="currentChat.user2 == currentUser.uid">
                                <img style="    margin-right: 10px; float: left; width: 30px; border-radius: 100%;" [src]="(currentChat.user1 | user | async)?.photoURL"/>
                                <h3>{{ (currentChat.user1 | user | async)?.displayName }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="chat-rbox">
                        <ul #messageScroll class="chat-list p-20 message-content">
                            <div *ngFor="let message of (currentChat.id | chat | async)?.messages">
                                <li *ngIf="message.user != currentUser.uid">
                                    <div class="chat-img"><img [src]="(message.user | user | async)?.photoURL"
                                                               alt="user"/></div>
                                    <div class="chat-content">
                                        <h5>{{(message.user | user | async)?.displayName}}</h5>
                                        <div class="box bg-light-info">{{message.value}}</div>
                                    </div>
                                    <div class="chat-time">{{message.updatedDt | amDateFormat: 'HH:mm A' }}</div>
                                </li>
                                <li class="reverse" *ngIf="message.user == currentUser.uid">
                                    <div class="chat-time">{{message.updatedDt | amDateFormat: 'HH:mm A' }}</div>
                                    <div class="chat-content">
                                        <h5>{{(message.user | user | async)?.displayName}}</h5>
                                        <div class="box bg-light-inverse">{{message.value}}</div>
                                    </div>
                                    <div class="chat-img"><img [src]="(message.user | user | async)?.photoURL"
                                                               alt="user"/></div>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="card-body b-t">
                        <form (submit)="sendMessage()">
                            <div class="row">
                                <div class="col-8">
                                    <input placeholder="Type your message here" class="form-control b-0"
                                           [(ngModel)]="message" [ngModelOptions]="{standalone: true}"/>
                                </div>
                                <div class="col-4 text-right">
                                    <button type="submit" class="btn btn-info btn-circle btn-lg"><i
                                            class="fa fa-paper-plane-o"></i></button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- .chat-right-panel -->
            </div>
            <!-- /.chat-row -->
        </div>
    </div>
</div>