.started-button{
    background: white;
    border:0px;
    color: #656565;
    font-size:18px;
}

.started-button:hover{
    background: white;
    border:0px;
    color: #656565;
    font-size:18px;

}

.card-title{
    color: white;
    background: #01c0c8;
    padding: 10px;
}

.card{
    /*border: 1px solid #abe4e6;*/
}

.choosing_card{
    border: 0px !important;
    margin:0px;
}
.landing-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}