<!--------------------------- slider -------------------------->
<div class="row">
    <div class="col-md-12">
        <!--<div class="card text-center">-->
        <!--<div class="card-body"-->
        <!--style=" height: 250px;background-image: url('assets/jpeg/wood.jpg'); background-repeat: no-repeat; background-size: cover; display: block;  -webkit-filter: blur(5px);  filter: blur(5px);">-->

        <!--</div>-->
        <!--<div style="position: absolute; top: 130px; left: 43%;">-->
        <!--<p style="font-size: 45px; color: white; font-weight: 700;" class="card-text">-->
        <!--POST A JOB-->
        <!--</p>-->
        <!--<hr style="width: 50%; border-top: 1px solid white !important;">-->

        <!--&lt;!&ndash;<a href="/register" class="btn btn-primary started-button">GET STARTED</a>&ndash;&gt;-->
        <!--</div>-->

        <!--</div>-->

        <div class="card">
            <div>
                <div style=" height: 250px;background-image: url('assets/jpeg/wood.jpg'); border-radius:8px; background-repeat: no-repeat; background-size: cover; background-position: center; opacity: 0.7;">
                </div>
                <div class="carousel-caption">
                    <p style="font-size: 45px; color: white; font-weight: 700;" class="text-white font-bold">Comment and
                        Rank to Company</p>
                    <hr style="width: 10%; border-top: 2px solid white !important;">

                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------- post job form -------------------------->


<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">

        <p style="font-size: 40px; padding-top: 30px;font-weight: 500; text-align: center;" class="card-text">
            Give comment and rate to company
        </p>
        <hr style="width: 5%;">
        <div class="card card-outline-info">
            <div class="card-body">
                <form [formGroup]="commentCompanyForm" (submit)="commentCompany(jobApplication)"
                      *ngIf="( application | async) as jobApplication">
                    <div class="form-body">
                        <h3 class="card-title" style="text-align: center;">Job details</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Company Name</label><span
                                        class="text-danger">*</span>
                                    <input name="title" type="text" class="form-control"
                                           disabled value="{{ ((jobApplication.jobid | job | async)?.uid | user | async)?.displayName}}">
                                    <!--<small class="form-control-feedback"> This is inline help </small> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Job Title</label><span class="text-danger">*</span>
                                    <input name="title" type="text" class="form-control"
                                           disabled value="{{ (jobApplication.jobid | job | async)?.title}}">
                                    <!--<small class="form-control-feedback"> This is inline help </small> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Finished Date</label><span class="text-danger">*</span>
                                    <input name="title" type="text" class="form-control"
                                           disabled value="{{ jobApplication.updatedAt | amDateFormat: 'YYYY-MM-DD'}}">
                                    <!--<small class="form-control-feedback"> This is inline help </small> -->
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Comment to {{ ((jobApplication.jobid | job | async)?.uid | user | async)?.displayName}} </label><span class="text-danger">*</span>
                                    <textarea class="form-control" rows="5" name="commentCompany"
                                              formControlName="commentCompany"
                                              [class.invalid]="!commentCompanyForm.controls.commentCompany.valid"></textarea>
                                    <small style="color:red;"
                                           *ngIf="!commentCompanyForm.controls.commentCompany.valid && commentCompanyForm.controls.commentCompany.dirty">
                                        This is required
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Rate to {{ ((jobApplication.jobid | job | async)?.uid | user | async)?.displayName}}</label><span
                                        class="text-danger">*</span>
                                    <select class="form-control custom-select"
                                            data-placeholder="Rate to freelancer"
                                            tabindex="1" formControlName="rateCompany" name="rateCompany">
                                        <!--<option>Select Category</option>-->
                                        <optgroup label="Give star to rate company">
                                            <option value="★">★</option>
                                            <option value="★★">★★</option>
                                            <option value="★★★">★★★</option>
                                            <option value="★★★★">★★★★</option>
                                            <option value="★★★★★">★★★★★</option>
                                        </optgroup>
                                    </select>
                                    <small *ngIf="!commentCompanyForm.controls.rateCompany.valid && commentCompanyForm.controls.rateCompany.dirty">
                                        This is required
                                    </small>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions" style="text-align: center;margin-top: 2%;">
                        <button type="submit" class="btn btn-secondary" style="width: 20%;"
                                [disabled]="!commentCompanyForm.valid">
                            <i class="fa fa-check"></i> Submit
                        </button>
                        <button (click)="redirect()" type="button" class="btn btn-outline-secondary cancel"
                                style="width: 20%;">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
