<div class="" style=" height: 850px;    background-image:url('assets/jpeg/22.jpg'); background-repeat: no-repeat;background-size:cover;background-position: center;">
    <div class="login-box card" style="
    position: absolute;
    top: 250px;
    left: 38%;
    border-radius: 15px;
}">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" [formGroup]="registerForm">
                <h3 class="box-title m-b-20" style="text-align: center;">Sign Up</h3>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="email" placeholder="Email" [class.invalid]="!registerForm.controls.email.valid">
                        <small style="color:red;"
                               *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.dirty">This is
                            required
                        </small>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="password" placeholder="Password" [class.invalid]="!registerForm.controls.password.valid">
                        <small style="color:red;"
                               *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.dirty">This is
                            required
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="repeatPassword" placeholder="Confirm Password" [class.invalid]="!registerForm.controls.repeatPassword.valid">
                        <small style="color:red;"
                               *ngIf="registerForm.controls.repeatPassword.hasError('minlength')">It must be at least 8 digits
                        </small>
                        <small style="color:red;"
                               *ngIf="registerForm.controls.repeatPassword.hasError('minlength')">It must be at least 8 digits
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-success p-t-0 p-l-10">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light signupbtn" [disabled]="!registerForm.valid" type="submit" (click)="register()">Sign Up</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Already have an account? <a href="login" class="text-info m-l-5"><b>Sign In</b></a></p>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
