<!--------------------------- slider -------------------------->
<div class="row">
    <div class="col-md-12">
        <!--<div class="card text-center" style="margin-bottom: 0px;">-->
            <!--<div class="card-body"-->
                 <!--style=" height: 250px;background-image: url('assets/jpeg/wood.jpg'); background-repeat: no-repeat; background-size: cover; display: block;  -webkit-filter: blur(5px);  filter: blur(5px);">-->

            <!--</div>-->
            <!--<div style="position: absolute; top: 130px; left: 43%;">-->
                <!--<p style="font-size: 45px; color: white; font-weight: 700;" class="card-text">-->
                    <!--GET A JOB-->
                <!--</p>-->
                <!--<hr style="width: 50%; border-top: 1px solid white !important;">-->

                <!--&lt;!&ndash;<a href="/register" class="btn btn-primary started-button">GET STARTED</a>&ndash;&gt;-->
            <!--</div>-->

        <!--</div>-->

        <div class="card">
            <div>
                <div style=" height: 250px;background-image: url('assets/jpeg/wood.jpg'); border-radius:8px; background-repeat: no-repeat; background-size: cover; background-position: center; opacity: 0.7;">
                </div>
                <div class="carousel-caption">
                    <p style="font-size: 45px; color: white; font-weight: 700;" class="text-white font-bold">Get A JOB</p>
                    <hr style="width: 10%; border-top: 2px solid white !important;">

                </div>
            </div>
        </div>
    </div>
</div>


<!--------------------------- latest job table -------------------------->

<!--<div class="row">-->
    <!--<div class="col-md-2"></div>-->
    <!--<div class="col-md-8">-->
        <!--<div class="card" style="text-align: center; ">-->
            <!--<div class="card-body">-->
                <!--<h4 class="card-title">Latest Jobs</h4>-->
                <!--<div class="table-responsive" style="overflow-y: scroll;height: 400px" scrollable (scrollPosition)="scrollHandler($event)">-->
                    <!--<table class="table" *ngIf="jobs">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th style="text-align: center;">Job Title</th>-->
                            <!--<th style="text-align: center;">Post Date</th>-->
                            <!--<th style="text-align: center;">Job Category</th>-->
                            <!--<th style="text-align: center;">Salary</th>-->
                            <!--<th style="text-align: center;">Quota</th>-->
                            <!--<th style="text-align: center;">Details</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr *ngFor="let job of jobs">-->
                            <!--&lt;!&ndash;<td><a style="color: black;" href="javascript:void(0)">#{{job.no}}</a></td>&ndash;&gt;-->
                            <!--<td><a style="color: black;">{{job.title}}</a></td>-->
                            <!--<td><span class="text-muted"><i class="fa fa-clock-o"></i> {{job.createdAt | amDateFormat: 'YYYY-MM-DD'}}</span>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<div class="catButton btn btn-rounded {{job.ngClass}}">{{job.jobCategory}}</div>-->
                            <!--</td>-->
                            <!--<td>$ {{job.salary}}</td>-->
                            <!--<td>{{job.quota}}</td>-->
                            <!--<td>-->
                                <!--<div class="btn btn-block btn-warning" (click)="goToDetail(job)">Details</div>-->
                            <!--</td>-->
                        <!--</tr>-->

                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div style="text-align: center; display: inline-block !important;">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="btn btn-block btn-secondary">View more</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-2"></div>-->

<!--</div>-->

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card" style="text-align: center;">
            <div class="card-body">
                <h4 class="card-title">Latest Jobs</h4>
                <div class="table-responsive" style="overflow-y: scroll;height: 400px" scrollable (scrollPosition)="scrollHandler($event)">
                    <table class="table" *ngIf="jobs">
                        <thead>
                        <tr>
                            <th style="text-align: center;">Job Title</th>
                            <th style="text-align: center;">Post Date</th>
                            <th style="text-align: center;">Job Category</th>
                            <th style="text-align: center;">Salary</th>
                            <th style="text-align: center;">Quota</th>
                            <th style="text-align: center;">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let job of jobs">
                            <!--<td><a style="color: black;" href="javascript:void(0)">#{{job.no}}</a></td>-->
                            <td><a style="color: black;">{{job.title}}</a></td>
                            <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{job.createdAt | amDateFormat: 'YYYY-MM-DD'}}</span>
                            </td>
                            <td>
                                <div class="catButton btn btn-rounded {{job.ngClass}}">{{job.jobCategory}}</div>
                            </td>
                            <td> {{job.salary}}</td>
                            <td>{{job.quota}}</td>
                            <td>
                                <div class="btn btn-block btn-warning" (click)="goToDetail(job)">Details</div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!--<div style="text-align: center; display: inline-block !important;">-->
                <!--<div class="btn btn-block btn-secondary">View more</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>

</div>