.navbar-light{
    background-color: white !important;
}
.un{
    display:inline-block;
    transition: all .5s ease-in;
    border-bottom:1px solid transparent;
}
.un:hover{
    border-bottom:1px solid black;
}

.text-color-nav{
    color: grey;
}

.nav-item {
    text-align: center;
}

.nav-link{
        padding-right: 1.5rem !important;
}