<div class="tab-pane" id="settings" role="tabpanel" *ngIf="user.userType == 'freelancer' ">
    <div class="card-body">
        <form class="form-horizontal form-material" (submit)="updateProfile()">
            <!--<form class="form-horizontal form-material" [formGroup]="profileForm" >-->
            <h3 class="card-title" style="text-align: center;">Personal Information</h3>
            <div class="row p-t-20">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-12">Full Name</label>
                        <div class="col-md-12">
                            <input type="text" [(ngModel)]="userForm.displayName" name="displayName"
                                   class="form-control form-control-line">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="example-email" class="col-md-12">Email</label>
                        <div class="col-md-12">
                            <input style="cursor: no-drop" type="email" disabled
                                   value="{{ userForm.email }}" name="email"
                                   class="form-control form-control-line" name="example-email"
                                   id="example-email">
                        </div>
                    </div>
                </div>
            </div>
            <!--<span>-->
            <div class="row p-t-20">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-12">Phone No</label>
                        <div class="col-md-12">
                            <input type="text" [(ngModel)]="userForm.phone" name="phone"
                                   class="form-control form-control-line">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="col-md-12">Job Category</label>
                        <div class="col-md-12">
                            <input [(ngModel)]="userForm.jobCategory" name="Job Category"
                                   class="form-control form-control-line">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Introduction</label>
                <div class="col-md-12">
        <textarea [(ngModel)]="userForm.introduction" name="introduction" rows="5"
                  class="form-control form-control-line"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Working Experience</label>
                <div class="col-md-12">
        <textarea [(ngModel)]="userForm.workingexp" name="workingexp" rows="5"
                  class="form-control form-control-line"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Skill</label>
                <div class="col-md-12">
        <textarea [(ngModel)]="userForm.skill" name="skill" rows="5"
                  class="form-control form-control-line"></textarea>
                </div>
            </div>
            <div class="form-actions" style="text-align: center;margin-bottom: 2%;">
                <button type="submit" class="btn btn-success" style="margin: 0 auto">
                    <i class="fa fa-check"></i> Update Profile
                </button>
                <!--<button (click)="redirect()" type="button" class="btn btn-outline-secondary cancel"-->
                <!--style="width: 20%;">Cancel-->
                <!--</button>-->
            </div>
            <!--<div class="form-actions">-->
            <!--<button style="margin: 0 auto;" class="btn btn-success " type="submit">Update Profile</button>-->
            <!--</div>-->
            <!--</div>-->
        </form>
    </div>
</div>

<!------------------------------------------------------------->

<form class="form-horizontal form-material" (submit)="updateProfile()">
    <!--<form class="form-horizontal form-material" [formGroup]="profileForm" >-->
    <h3 class="card-title" style="text-align: center;">Personal Information</h3>
    <div class="form-group">
        <label class="col-md-12">Full Name</label>
        <div class="col-md-12">
            <input type="text" [(ngModel)]="userForm.displayName" name="displayName"
                   class="form-control form-control-line">
        </div>
    </div>
    <div class="form-group">
        <label for="example-email" class="col-md-12">Email</label>
        <div class="col-md-12">
            <input style="cursor: no-drop" type="email" disabled value="{{ userForm.email }}" name="email"
                   class="form-control form-control-line" name="example-email"
                   id="example-email" >
        </div>
    </div>
    <!--<div class="form-group">-->
    <!--<label class="col-md-12">Password</label>-->
    <!--<div class="col-md-12">-->
    <!--<input type="password" value="password" class="form-control form-control-line">-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="col-md-12">Phone No</label>
        <div class="col-md-12">
            <input type="text" [(ngModel)]="userForm.phone" name="phone"
                   class="form-control form-control-line">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Job Category</label>
        <div class="col-md-12">
            <input [(ngModel)]="userForm.jobCategory" name="Job Category"
                   class="form-control form-control-line">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Introduction</label>
        <div class="col-md-12">
                                        <textarea [(ngModel)]="userForm.introduction" name="introduction" rows="5"
                                                  class="form-control form-control-line"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Education</label>
        <div class="col-md-12">
                                        <textarea [(ngModel)]="userForm.edu" name="edu" rows="5"
                                                  class="form-control form-control-line"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Working Experience</label>
        <div class="col-md-12">
                                        <textarea [(ngModel)]="userForm.workingexp" name="workingexp" rows="5"
                                                  class="form-control form-control-line"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Skill</label>
        <div class="col-md-12">
                                        <textarea [(ngModel)]="userForm.skill" name="skill" rows="5"
                                                  class="form-control form-control-line"></textarea>
        </div>
    </div>
    <div class="col-sm-12">
        <button style="margin: 0 auto;" class="btn btn-success " type="submit">Update Profile</button>
    </div>
    <!--</div>-->
</form>
<form [formGroup]="preferenceForm" (submit)="setPreference()">
    <div class="form-body">
        <h3 class="card-title" style="text-align: center;">Preference</h3>
        <hr>
        <div class="row p-t-20">
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="control-label">Job Category</label><span class="text-danger">*</span>
                    <select class="form-control custom-select" data-placeholder="Choose a Category"
                            tabindex="1" formControlName="preference_jobCategory" name="jobCategory" [(ngModel)]="user.preference_jobCategory">
                        <!--<option>Select Category</option>-->
                        <optgroup label="Finance">
                            <option value="Accounting">Accounting</option>
                            <option value="Banking">Banking</option>
                        </optgroup>
                        <optgroup label="Computing">
                            <option value="Mobile Application Development">Mobile Application Development
                            </option>
                            <option value="Website Development">Website Development</option>
                        </optgroup>
                        <optgroup label="Design">
                            <option value="Fashion Design">Fashion Design</option>
                            <option value="Graphics Design">Graphics Design</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option value="Education">Education</option>
                            <option value="Other">Other</option>
                        </optgroup>
                    </select>
                    <small *ngIf="!preferenceForm.controls.preference_jobCategory.valid && preferenceForm.controls.preference_jobCategory.dirty">
                        Error
                    </small>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="control-label">Salary</label><span class="text-danger">*</span>
                    <select class="form-control custom-select" data-placeholder="Choose a Category"
                            tabindex="1" formControlName="preference_salary" name="salary" [(ngModel)]="user.preference_salary">
                        <!--<option>Select Category</option>-->
                        <optgroup label="Salary">
                            <option value="< $3000">< $3000</option>
                            <option value="$3001 - $6000">$3001 - $6000</option>
                            <option value="$6001 - $9000">$6001 - $9000</option>
                            <option value="$9001 - $12000">$9001 - $12000</option>
                            <option value="$12001 - $15000">$12001 - $15000</option>
                            <option value="> $15000">> $15000</option>
                        </optgroup>
                    </select>
                    <small *ngIf="!preferenceForm.controls.preference_salary.valid && preferenceForm.controls.preference_salary.dirty">
                        Error
                    </small>
                </div>
            </div>
        </div>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="control-label">Education level</label><span
                        class="text-danger">*</span>
                    <select class="form-control custom-select" data-placeholder="Choose a Category"
                            tabindex="1" formControlName="preference_eduLv" name="eduLv" [(ngModel)]="user.preference_eduLv">
                        <!--<option>Select Category</option>-->
                        <optgroup label="Education level">
                            <option value="Postgraduate">Postgraduate</option>
                            <option value="Degree">Degree</option>
                            <option value="Non-Degree Tertiary">Non-Degree Tertiary</option>
                            <option value="Matriculated">Matriculated</option>
                            <option value="School Certificate">School Certificate</option>
                            <option value="Form three">Form three</option>
                            <option value="Primary">Primary</option>
                            <option value="No Requirement">No Requirement</option>
                        </optgroup>

                    </select>
                    <small *ngIf="!preferenceForm.controls.preference_eduLv.valid && preferenceForm.controls.preference_eduLv.dirty">
                        Error
                    </small>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="control-label">Working Experience</label><span
                        class="text-danger">*</span>
                    <select class="form-control custom-select" data-placeholder="Choose a Category"
                            tabindex="1" formControlName="preference_expectedExp" name="expectedExp" [(ngModel)]="user.preference_expectedExp">
                        <!--<option>Select Category</option>-->
                        <optgroup label="Expected Working Experience">
                            <option value="< 1 year">< 1 year</option>
                            <option value="1 - 2 year(s)ree">1 - 2 year(s)</option>
                            <option value="3 - 4 years">3 - 4 years</option>
                            <option value="> 4 years">> 4 years</option>
                            <option value="No Requirement">No Requirement</option>
                        </optgroup>

                    </select>
                    <small *ngIf="!preferenceForm.controls.preference_expectedExp.valid && preferenceForm.controls.preference_expectedExp.dirty">
                        Error
                    </small>
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="control-label">Location</label><span class="text-danger">*</span>
                    <select class="form-control custom-select" data-placeholder="Choose a Category"
                            tabindex="1" formControlName="preference_location" name="location"  [(ngModel)]="user.preference_location">
                        tabindex="1" formControlName="preference_location" name="location">
                        <!--<option>Select Category</option>-->
                        <optgroup label="Location">
                            <option value="New Territories">New Territories</option>
                            <option value="Kowloon">Kowloon</option>
                            <option value="Hong Kong Island">Hong Kong Island</option>
                        </optgroup>
                    </select>
                    <small *ngIf="!preferenceForm.controls.preference_location.valid && preferenceForm.controls.preference_location.dirty">
                        Error
                    </small>
                </div>
            </div>
        </div>


    </div>
    <div class="form-actions" style="text-align: center;margin-top: 2%;">
        <button type="submit" class="btn btn-secondary" style="width: 20%;" [disabled]="!preferenceForm.valid">
            <i class="fa fa-check"></i> Submit
        </button>
        <button (click)="redirect()" type="button" class="btn btn-outline-secondary cancel"
                style="width: 20%;">Cancel
        </button>
    </div>
</form>